body {
    position: relative;
    height: 96vh;
    width: 96vw;
    margin: auto;
    overflow: hidden;
    justify-content: center;

}

#board {
    width: 70vw;
    display: grid;
    grid-template-rows: repeat(4, 93px);
    grid-template-columns: repeat(10, 65px);
    gap: 3px;
    margin-bottom: 20px;
    margin-left: 13vw;
    background-color: aqua;
    justify-content: center;

    .square {
        transition: all 0.2s;
    }
}

#player {
    margin-top: 10px;
    width: 70Vw;
    height: 35Vh;
    position: relative;
    // margin: auto;
    bottom: 10px;
    left: 13Vw;
    background-color: burlywood;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: space-around;
    align-items: center;
    justify-items: center;

    .card {
        margin-top: 5px;
        background-size: cover;
        width: 65px;
        height: 93px;
        position: relative;
        transform: translate(-50%, -50%);
        transition: all 0.1s;
    }

}